@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("/sfondo.jpg");
  background-size: cover;
  /* background: #34 3a40; */
  min-height: 100vh;
  margin: 0;
  padding: 0;
  
}
::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}
